<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.sa_one_back.mapper.StoreMapper">

    <insert id="insertStore" useGeneratedKeys="true" keyProperty="storeId">
        insert into store_tb (
            store_id,
            store_name,
            address,
            business_number,
            owner_name,
            store_phone,
            created_at,
            updated_at,
            user_id
        )
        values(
            default,
            #{storeName},
            #{address},
            #{businessNumber},
            #{ownerName},
            #{storePhone},
            now(),
            now(),
            #{userId}
        )
    </insert>
  
    <insert id="insertStoreApplication">
        insert into store_application_tb (
            store_application_id,
            store_name,
            address,
            business_number,
            owner_name,
            store_phone,
            status,
            reject_reason,
            reviewed_at,
            created_at,
            user_id
        ) values (
            default,
            #{storeName},
            #{address},
            #{businessNumber},
            #{ownerName},
            #{storePhone},
            default,
            null,
            null,
            now(),
            #{userId}
        )

    </insert>
  
    <update id="updateApplicationStatus">
        update
            store_application_tb
        set
            status = #{status},
            reviewed_at = #{reviewedAt},
            reject_reason = #{rejectReason},
            updated_at = now()
        where
            store_application_id = #{storeApplicationId}
    </update>
  
    <select id="selectByUserId" resultType="com.korit.sa_one_back.entity.StoreApplicationEntity">
        select
            *
        from
            store_application_tb
        where
            user_id = #{userId}
    </select>

    <select id="selectByApplicationIdForAdmin" resultType="com.korit.sa_one_back.entity.StoreApplicationEntity">
        select
            *
        from
            store_application_tb
        where
            store_application_id = #{storeApplicationId}
    </select>

    <select id="countByStoreId" resultType="int">
        select count(*)
        from store_tb
        where store_id = #{storeId}
    </select>

    <select id="findOwnerUserId" resultType="long">
        select user_id
        from store_tb
        where store_id = #{storeId}
        limit 1
    </select>

    <select id="findMyStoresByUserId" parameterType="long" resultType="com.korit.sa_one_back.entity.MyStoreEntity">
        select distinct
            s.store_id as storeId,
            s.store_name as storeName,
            s.address as address
        from
            store_employee_tb se
        join
            store_tb s
        on
            s.store_id = se.store_id
        where
            se.user_id = #{userId}
            and
                se.work_status = 'WORKING'
        order by s.store_id asc
    </select>
    <select id="findOwnerStoresByUserId"
            parameterType="long"
            resultType="com.korit.sa_one_back.entity.MyStoreEntity">
        select
        store_id as storeId,
        store_name as storeName,
        address as address
        from
        store_tb
        where
        user_id = #{userId}
        order by store_id asc
    </select>

    <select id="countEmployeeInStoreByUserId" resultType="int">
        select count(*)
        from store_employee_tb
        where store_id = #{storeId}
        and user_id = #{userId}
        and work_status = 'WORKING'
    </select>

    <select id="findStoreName" resultType="string">
        select store_name
        from store_tb
        where store_id = #{storeId}
        limit 1
    </select>

</mapper>
