<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.sa_one_back.mapper.UserMapper">

    <insert id="insertLocalUser" useGeneratedKeys="true" keyProperty="userId">
        insert into user_tb(
            user_id,
            username,
            password,
            oauth2_id,
            provider,
            name,
            phone,
            email,
            img_url,
            img_path,
            role_id,
            created_at,
            updated_at,
            gender,
            birth_date,
            is_deleted,
            address
        ) values (
            default,
            #{username},
            #{password},
            #{oauth2Id},
            #{provider},
            #{name},
            #{phone},
            #{email},
            #{imgUrl},
            #{imgPath},
            #{roleId},
            now(),
            now(),
            #{gender},
            #{birthDate},
            default,
            #{address}
        )
    </insert>
    <insert id="insertOauth2User" useGeneratedKeys="true" keyProperty="userId">
        insert into user_tb(
            user_id,
            username,
            password,
            oauth2_id,
            provider,
            name,
            phone,
            email,
            img_url,
            img_path,
            role_id,
            created_at,
            updated_at,
            gender,
            birth_date,
            is_deleted,
            address
        ) values (
            default,
            #{username},
            #{password},
            #{name},
            #{phone},
            #{email},
            #{imgUrl},
            #{imgPath},
            #{oauth2Id},
            #{provider},
            #{roleId},
            now(),
            now(),
            #{gender},
            #{birthDate},
            default,
            #{address}
        )
    </insert>

    <update id="softDelete">
        update
            user_tb
        set
            is_deleted = true,
            deleted_at = now(),
            updated_at = now()
        where
            user_id = #{userId}
            and is_deleted = false
    </update>

    <select id="findByUserId" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            *
        from
            user_tb
        where
            user_id = #{userId}
        and
            is_deleted = false
    </select>

    <select id="findByEmail" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            *
        from
            user_tb
        where
            email = #{email}
        and
            is_deleted = false
    </select>

    <select id="findByOauth2IdAndProvider" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            *
        from
            user_tb
        where
            oauth2_id = #{oauth2Id}
        and
            provider = #{provider}
        and
            is_deleted = false
    </select>
    <select id="findUserByUsername" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            user_id,
            username,
            password,
            oauth2_id,
            provider,
            name,
            phone,
            email,
            img_url,
            img_path,
            role_id,
            created_at,
            updated_at,
            gender,
            birth_date,
            address
        from
            user_tb
        where
            username = #{username}
        and
            is_deleted = false
    </select>

    <select id="findRoleNameByUserId" resultType="string">
        select
            rt.role_name
        from
            user_tb ut
        join
            role_tb rt on rt.role_id = ut.role_id
        where
            ut.user_id = #{userId}
    </select>

    <update id="updateMyPage">
        update user_tb
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
            <if test="dto.address != null and dto.address != ''">
                address = #{address},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="findUserIdByEmail" resultType="java.lang.Long">
        select
            user_id
        from
            user_tb
        where
            email = #{email}
        and
            is_deleted = false
        limit 1
    </select>

    <update id="updateEmployeeProfile">
        update user_tb
        <set>
            <if test="dto.name != null and dto.name != ''">
                name = #{dto.name},
            </if>
            <if test="dto.phone != null and dto.phone != ''">
                phone = #{dto.phone},
            </if>
            <if test="dto.imgUrl != null and dto.imgUrl != ''">
                img_url = #{dto.imgUrl},
            </if>
            <if test="dto.imgPath != null and dto.imgPath != ''">
                img_path = #{dto.imgPath},
            </if>
            <if test="dto.birthDate != null">
                birth_date = #{dto.birthDate},
            </if>
            <if test="dto.address != null and dto.address != ''">
                address = #{dto.address},
            </if>
        </set>
        where
            user_id = #{userId}
        and
            is_deleted = false
    </update>

    <select id="findUsernameByNameAndEmail" resultType="string">
        select
            username
        from
            user_tb
        where
            name = #{name}
        and
            email = #{email}
        and
            is_deleted = 0
        limit 1
    </select>

    <update id="updatePassword">
        update
            user_tb
        set
            password = #{password},
            updated_at = now()
        where
            user_id = #{userId}
        and
            is_deleted = false
    </update>

    <select id="findRoleIdByUserId" resultType="int">
        select
        role_id
        from
        user_tb
        where
        user_id = #{userId}
    </select>

</mapper>