<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.sa_one_back.mapper.UserMapper">

    <insert id="insertLocalUser" useGeneratedKeys="true" keyProperty="userId">
        insert into user_tb(
            user_id,
            username,
            password,
            name,
            phone,
            email,
            img_url,
            img_path,
            oauth2_id,
            provider,
            role_id,
            created_at,
            updated_at
        ) values (
            default,
            #{username},
            #{password},
            #{name},
            #{phone},
            #{email},
            #{imgUrl},
            #{imgPath},
            #{oauth2Id},
            #{provider},
            #{roleId},
            now(),
            now()
        )
    </insert>
    <insert id="insertOauth2User" useGeneratedKeys="true" keyProperty="userId">
        insert into user_tb(
            user_id,
            username,
            password,
            name,
            phone,
            email,
            img_url,
            img_path,
            oauth2_id,
            provider,
            role_id,
            created_at,
            updated_at
        ) values (
            default,
            #{username},
            #{password},
            #{name},
            #{phone},
            #{email},
            #{imgUrl},
            #{imgPath},
            #{oauth2Id},
            #{provider},
            #{roleId},
            now(),
            now()
        )
    </insert>

    <select id="findByUserId" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            *
        from
            user_tb
        where
            user_id = #{userId}
    </select>

    <select id="findByUsername" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            user_id,
            username,
            password,
            oauth2_id,
            provider,
            name,
            phone,
            email,
            img_url,
            img_path,
            role_id,
            created_at,
            updated_at,
        from
            user_tb
        where
            username = #{username}
    </select>

    <select id="findByEmail" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            *
        from
            user_tb
        where
            email = #{email}
    </select>

    <select id="findByOauth2IdAndProvider" resultType="com.korit.sa_one_back.entity.UserEntity">
        select
            *
        from
            user_tb
        where
            oauth2_id = #{oauth2Id}
        and
            provider = #{provider}
    </select>

</mapper>